.row{
    display: flex;
    height:50px;
    width:400px;
    border:solid 2px gray;

}
.black{
    float:left;
    display:flex;
    width:50px;
    background-color: black;
}
.white{
    display:flex;
    float:left;
    width:50px;
    background-color: white;
}